<td>{{restaurantInfo.restaurantName}}</td>
<td>{{restaurantInfo.address1}}, {{restaurantInfo.cityTown}}, {{restaurantInfo.stateProvince}}</td>
<td>{{restaurantInfo.phone}}</td>
<td><a href="#edit">Edit</a></td>
<td><a href="#delete">Delete</a></td>
