<div class="span8">
    <div class="row">
        <div class="span7">
            <h2>Restaurant Info</h2>
        </div>
        <div class="span1 text-right">
            <a class="btn btn-primary btn-small" href="#addRestaurant">Edit</a>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <h3>{{restaurantName}}</h3>
            <address>
                <p>{{address1}}<br>
                {{cityTown}}<br>
                {{stateProvince}} {{postalCode}}<br>
                {{country}}</p>
            </address>
            <dl>
                <dt>Phone:</dt>
                    <dd></dd>
                <dt>Fax:</dt>
                    <dd>{{phone}}</dd>
            </dl>
        </div>
    </div>
</div>
